body{
  background-color: #A2CBE8;
  height: 100%;
}
nav{
  height: 80%;
  font-size: 1.4em;
  text-align: center;
  text-shadow: .2em black;
  width: 80%;
  margin: auto;
  padding-top: 2em;
}
nav a {
  background-color: gray;
  color: white;
  border-radius: 0.4em;
  line-height: 4em;
  margin: 1em;
  padding: 0.5em;
  white-space: nowrap; /*unbreack lines*/
}
.bloc{
  height: 100%;
  max-height: 80%;
  width: auto;
  background-color: #4598FF;
  border-radius: 0.3em;
  margin-top: 4em;
}
section{
    max-height: 1000px;
    margin: auto;
}
h1{
  text-align: center;
  font-family: 'Black Ops One', cursive;
  font-size: 3em;
  margin: 2em auto;
}
/* Work on title section */
h2{
  text-align: center;
  line-height: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #fff;
  border-radius: 1em;
}
/* Work on def item on DList*/
dl{
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}
dt{
/*  font-family: 'Black Ops One', cursive;*/
  margin-top: 1em;
  font-weight: bold;
  width: 45%;
}
dd{
  width: auto;
}
/*define style for command
.cde{
  font-size: 1em;
}*/
/*define style for attribute of command*/
.att{
  color: rgb(21, 25, 62);
  font-style: oblique;
  font-size: 1.1em;
}
/*define style for option of command*/
.opt{
  color: rgb(43, 23, 204);
  font-style: italic;
}
/*definir la hauteur d'affichage  -- passage en width*/
/*small width*/
@media screen and (max-width: 479px){
    .bloc{
      width: auto;
      min-height: 400px;
    }
    h1{
      font-size: 2em;
      margin: 0.5em auto;
    }
    h2{
      line-height: 1.3em;
      width: 100%;
    }
    nav{
      width: auto;
    }
    nav a {
      color: black;
      margin: auto;
      line-height: 2em;
      background-color: #A2CBE8;
    }
    dt{
      width: 100%;
    }
    dd{
      width: auto;
      text-align: right;
    }

}
/*medium width*/
@media screen and (min-width: 480x) and (max-width: 799px){
    .bloc{
      background-color: #FF6600;
      max-height: 700px;
    }
    dt{
      width: 100%;
    }
    dd{
      width: 100%;
      text-align: right;
    }
}
/*medium plus width*/
@media screen and (min-width: 800px) and (max-width: 1000px){
    .bloc{
      background-color: darkgreen;
      border: 1px red;
    }
    dt{
      width: 50%;
    }
    dd{
      width: 50%;

    }
}
