*{
  background-color: darkgray;
}
/*definir la hauteur d'affichage*/
/*small height*/
@media screen and (max-height: 480px){
    *{
        background-color: bisque;
    }
}
/*medium height*/
@media screen and (min-height: 481px) and (max-height: 799px){
    *{
        background-color: aqua;

    }
}
/*medium plus height*/
@media screen and (min-height: 800px) and (max-height: 1000px){
    *{
        background-color: bisque;
    }
    
}
