body{
  background-color: #A2CBE8;
  height: 100%;
}
nav{
  height: 80%;
  font-size: 1.4em;
  text-align: center;
  text-shadow: .2em black;
  width: 50%;
  margin: auto;
}
nav a {
  background-color: black;
  color: white;
  border-radius: 0.15em;
  line-height: 2em;
  margin: 0.5em;
  padding: 0.5em;

}
.bloc{
  min-height: 100%;
  width: auto;
  background-color: #4598FF;
  border-radius: 0.3em;
}
h1{
  text-align: center;
  font-family: 'Black Ops One', cursive;
  font-size: 3em;
}
/* Work on title section */
h2{
  text-align: center;
  line-height: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #fff;
  border-radius: 1em;
}
/* WOrk on def item on DList*/
dl{
  display: inline;
}
dt{
  font-family: 'Black Ops One', cursive;
  font-weight: bold;
  width: 33%;
}
dd{
  width: 33%;
}
/*definir la hauteur d'affichage  -- passage en width*/
/*small width*/
@media screen and (max-width: 479px){
    body{
        background-color: bisque;
    }
    .bloc{
      background-color: darkgreen;
    }
    dt{
      width: 100%;
    }
    dd{
      width: 100%;
      text-align: right;
    }

}
/*medium width*/
@media screen and (min-width: 480x) and (max-width: 799px){
    body{
        background-color: aqua;
    }
    .bloc{
      background-color: #FF6600;
    }
    dt{
      width: 100%;
    }
    dd{
      width: 100%;
      text-align: right;
    }
}
/*medium plus width*/
@media screen and (min-width: 800px) and (max-width: 1000px){
    body{
        background-color: bisque;
    }
    .bloc{
      background-color: darkgreen;
      border: 1px red;
    }
    dt{
      width: 50%;
    }
    dd{
      width: 50%;

    }
}
