body{
  background-color: darkgray;
  height: 100%;
}
.bloc{
  min-height: 100%;
  width: auto;
  background-color: green;
}
h2{
  text-align: center;
  width: 50%;
  background-color: orange;
}
dt{
  width: 33%;
}
dd{
  width: 33%;
}
/*definir la hauteur d'affichage*/
/*small height*/
@media screen and (max-height: 480px){
    body{
        background-color: bisque;
    }
    .bloc{
      background-color: darkgreen;
    }
}
/*medium height*/
@media screen and (min-height: 481px) and (max-height: 799px){
    body{
        background-color: aqua;
    }
    .bloc{
      background-color: #FF6600;
    }
}
/*medium plus height*/
@media screen and (min-height: 800px) and (max-height: 1000px){
    body{
        background-color: bisque;
    }
    .bloc{
      background-color: darkgreen;
      border: 1px red;
    }
}
